<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../static/main.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vizualize</title>
  </head>
  <body>
    <header></header>
    <main>
      <h1>Booth's Algorithm Visualizer (4-bit)</h1>
      <p>Integrating HTML, CSS and Javascript in Flask Web Framework</p>
      <hr />
      <ul>
        <li>A = {}</li>
      </ul>
    </main>
    <footer></footer>
  </body>
</html>
